// container
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
body {
  background-color: #ffffff;
}
p,
li {
  font-family: $jetb;
}
// navbar
.navScroll {
  background-color: rgba($color: #000000, $alpha: 0.8);
  transition: 0.5s;
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
  @media #{$mobile_device} {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      background-color: #f5f8f8;
      opacity: 0.5;
    }
  }
  @media #{$tablet_device} {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
      background-color: #f5f8f8;
      opacity: 0.5;
    }
  }
}
.navScrollBack {
  width: 100%;
  transition: 0.5s;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.active {
  display: block;
  border-bottom: 3px solid #cccccc;
  margin: auto;
  padding-bottom: 5px;
  @media #{$mobile_device} {
    width: 10%;
    display: block;
    margin-left: 0;
    border-bottom: 3px dotted #99cccc;
    padding-bottom: 5px;
  }
}
.navbar {
  .navbar-collapse {
    transition: 0.5s;
  }
  .nav-link {
    font-family: $viga;
    margin-right: 20px;
    font-size: 20px;
    color: #cccccc !important;
    &:hover::after {
      content: "";
      display: block;
      border-bottom: 3px solid #cccccc;
      margin: auto;
      padding-bottom: 5px;
      margin-bottom: -8px;
      @media #{$mobile_device} {
        width: 10%;
        display: block;
        margin-left: 0;
        border-bottom: 3px dotted #99cccc;
        padding-bottom: 5px;
        margin-bottom: -8px;
      }
    }
  }
  .navbar-brand {
    font-family: $viga;
    font-size: 20px;
    color: #cccccc !important;
    img {
      width: 50px;
      height: auto;
    }
  }
}
// jumbotron
.jumbotron {
  background-image: url(../../img/bg/bg.png);
  background-size: cover;
  position: relative;
  height: 600px;
  @media #{$mobile_device} {
    height: 500px;
  }
  .blockquote p {
    font-family: $viga;
    color: #cccccc;
    margin-left: 500px;
    margin-top: 150px;
    position: absolute;
    @media #{$mobile_device} {
      margin-left: 20px;
      margin-top: 300px;
      font-size: 20px;
    }
    @media #{$tablet_device} {
      margin-top: 100px;
      font-size: 25px;
    }
  }
  .blockquote-footer {
    font-family: $jetb;
    color: #cccccc;
    margin-left: 500px;
    margin-top: 200px;
    position: absolute;
    @media #{$mobile_device} {
      margin-left: 20px;
      margin-top: 330px;
      font-size: 12px;
    }
    @media #{$tablet_device} {
      margin-top: 130px;
      font-size: 15px;
    }
  }
  .container {
    .grid {
      margin-top: 300px;
      margin-left: 250px;
      opacity: 0.3;
      @media #{$mobile_device} {
        margin-top: 200px;
        margin-left: 100px;
      }
    }
    &::before {
      position: absolute;
      bottom: 50px;
      left: 50px;
      opacity: 0.7;
      background-image: url(../../img/profile/99.jpg);
      background-size: contain;
      width: 400px;
      height: 400px;
      border-radius: $bulat2;
      content: "";
      @media #{$mobile_device} {
        width: 200px;
        height: 200px;
        left: 0;
        top: 0;
        margin-top: 100px;
      }
    }
  }
}

// content
.tabs {
  font-family: $harlow;
  color: #000066;
  margin: 50px 0;
  @media #{$mobile_device} {
    font-size: 30px;
    margin: 30px 0;
  }
}
// skills
.skills {
  .flat-present img {
    width: 400px;
    height: 400px;
    margin-top: -210px;
    @media #{$mobile_device} {
      display: none;
    }
  }
}
.list-skills {
  margin-bottom: 80px;
  .card {
    padding: 20px;
    box-sizing: border-box;
    h3 {
      font-family: $viga;
      font-size: 35px;
    }
    img {
      width: 200px;
      height: auto;
    }
    @media #{$mobile_device} {
      margin-bottom: 10px;
    }
  }
}
// hover
// skill 1
.warna-body-1 {
  position: relative;
  display: flex;
  border: none;
  box-shadow: $box3;
  #gd {
    z-index: 1;
    margin-top: 40px;
    width: 70px;
    height: 140px;
  }
  &:hover {
    background-color: #3333ff;
    h3,
    p {
      color: #ccccff;
    }
    &::after {
      content: "";
      width: 170px;
      height: 170px;
      margin-top: 30px;
      position: absolute;
      align-self: center;
      border-radius: $bulat;
      background-image: radial-gradient(#ccccff 35%, #9999ff 50%, #6666ff 65%);
      z-index: 0;
    }
  }
}
// skill-2
.warna-body-2 {
  position: relative;
  display: flex;
  border: none;
  box-shadow: $box3;
  #wp {
    z-index: 1;
    margin-top: 40px;
    width: 70px;
    height: 140px;
  }
  &:hover {
    background-color: #990000;
    h3,
    p {
      color: #ccccff;
    }
    &::after {
      content: "";
      width: 200px;
      height: 200px;
      margin-top: 20px;
      position: absolute;
      align-self: center;
      border-radius: $bulat;
      background-image: radial-gradient(#ff9999 35%, #ff6666 50%, #cc3333 65%);
      z-index: 0;
    }
  }
}
// skill 3
.warna-body-3 {
  position: relative;
  display: flex;
  border: none;
  box-shadow: $box3;
  #wd {
    z-index: 1;
    margin-top: 40px;
    margin-left: 20px;
    width: 70px;
    height: 140px;
  }
  &:hover {
    background-color: #999900;
    h3,
    p {
      color: #2b2b2e;
    }
    &::after {
      content: "";
      width: 200px;
      height: 200px;
      margin-top: 20px;
      position: absolute;
      align-self: center;
      border-radius: $bulat;
      background-image: radial-gradient(#ccff99 35%, #99ff33 50%, #66cc00 65%);
      z-index: 0;
    }
  }
}
// about
#about {
  background-color: #cccccc;
  h2 {
    button {
      font-family: $viga;
      font-size: 20px;
      text-decoration: none;
      letter-spacing: 1.5px;
    }
  }
}
// portfolio
#portfolio {
  .flat-port img {
    width: 300px;
    height: auto;
    margin-top: -95px;
    @media #{$mobile_device} {
      width: 200px;
      height: auto;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
  .card {
    border: none;
    margin: 40px 0;
    &:hover {
      box-shadow: $box;
      transition: 0.1s;
    }
    .card-title {
      margin-top: 30px;
      font-weight: bold;
      font-size: 25px;
      font-family: $viga;
      letter-spacing: 1.5px;
    }
    p {
      font-family: $jetb;
      margin-bottom: 50px;
    }
    @media #{$mobile_device} {
      margin-bottom: 10px;
    }
  }
  a {
    font-family: $viga;
    letter-spacing: 1px;
  }
}
.modal {
  .card {
    border: none;
    box-shadow: $box;
    margin-bottom: 20px;
    p {
      font-family: $jetb;
      margin-bottom: 50px;
    }
  }
}
// footer
.footer {
  background-color: #000066;
  height: 90px;
  color: $color2;
  margin-top: 60px;
  font-family: $jetb;
  .col {
    margin-top: 30px;
  }
}
.img-detail {
  border: 1px solid black;
}
